.header {
  inset: 0 0 auto;
  z-index: 1;
  position: fixed;
}

.main {
  margin: 48px 0 0;
}

.mobileNavigation {
  inset: auto 0 0;
  position: fixed;

  @media (width >= 740px) {
    display: none;
  }
}

.hamburger {
  position: fixed;
  inset: 0 0 auto auto;
  z-index: 1000;
}
