.container {
  background: #2fc4fe;
  min-height: 100dvh;
}

.main {
  margin: 0 0 60px;
}

.tabList {
  background: #fff;
  display: flex;
  height: 60px;
  inset: calc(100dvh - 60px) 0;
  position: fixed;
}

.tab {
  align-items: center;
  color: #999;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
